.banner_content h3{
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    color: #fff;
}
.banner_content p{
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #fff;
}
.post_btn{
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: #000;
    border-radius: 4px;
    padding: 8px 12px;
    background: #EDEEF0;
}